<section class="bwTotal">
    <div class="background"></div>
    <div class="text-container">
        <div class="b-text">Switch between Light & Dark Mode</div>
        <div class="w-text">Switch between Light & Dark Mode</div>
    </div>
    <div class="image-container">
        <img class="dark-image" src="~/images/blackwhite/dark1.svg" alt="">
        <img class="light-image" src="~/images/blackwhite/light.svg" alt="">
    </div>
    <div id="slider-bw">
        <img src="~/images/blackwhite/Frame 2110.svg" alt="" srcset="">
    </div>
</section>