<section class="banner">
    <div class="banner-info">
        <div class="text-area">
            <p >Ready to get started?</p>
            <h1>Take Your Skills to the Next Level</h1>
        </div>
        <div>
            <button class="btn btn-theme">Work with us</button>
        </div>
    </div>
    <div class="banner-img">
        <img src="/images/courseImg/illustration.svg" alt="">
    </div>
</section>