<div class="courseCard">
    <div class="courseImg">
        <img src="~/images/courseImg/Blender.svg" alt="">
    </div>
    <div class="courseText">
        <div class="courseInfo">
            <h5 class="no-m-p">Blender Character Creator v2.0 for Video Games Design</h5>
            <p class="body-s-700 no-m-p">By Ralph Edwards</p>
            <p class="no-m-p price">$18.99</p>
        </div>
        <div class="courseTime">
            <div class="ctime">
                <i class="fa-regular fa-clock"></i>
                <p>160hours</p>
            </div>
            <div class="cpercent">
                <i class="fa-regular fa-thumbs-up"></i>
                <p>92% (3.1K) </p>
            </div>
        </div>
    </div>
</div>