<header>
    <div class="container">
        <a asp-action="Home" asp-controller="Default" id="logoLink">
            <img src="~/images/logos/SiliconLogo.svg" alt="Silicon logo" id="logoImg" />
        </a>

        @if (User.Identity.IsAuthenticated)
        {
            <nav>
                <a asp-action="Home" asp-controller="Default" class="nav-link">Overview</a>
                <a asp-action="Courses" asp-controller="Course" class="nav-link">Courses</a>
                <a asp-action="Contact" asp-controller="Default" class="nav-link">Contact</a>
                <a asp-action="AccountDetails" asp-controller="Account" class="nav-link">Account</a>
            </nav>
        }
        else
        {
            <nav>
                <a asp-action="Home" asp-controller="Default" class="nav-link">Overview</a>
                <a asp-action="Home" asp-controller="Default" class="nav-link">Features</a>
                <a asp-action="Contact" asp-controller="Default" class="nav-link">Contact</a>
            </nav>
        }
        <div class="theme-switch">
            <label for="theme-switch-mode">Light</label>
            <label class="switch">
                <input id="theme-switch-mode" type="checkbox">
                <span class="slider round"></span>
            </label>
            <label for="theme-switch-mode">Dark</label>
        </div>
        <div class="account-buttons">
            <a class="btn-secundary" asp-action="SignIn" asp-controller="Auth"><img
                    class="fa-regular fa-arrow-right-to-bracket">Sign in</i></a>
            <a class="btn-theme" asp-action="SignUp" asp-controller="Auth"><img class="fa-regular fa-user">Sign
                up</i></a>
        </div>
        <button class="btn-menu"><i class="fa-regular fa-bars"></i></button>
    </div>
</header>