<section class="mobile">
    <div class="container">
        <div class="mobile-image">
        <img src="~/images/pagepicture/mobile.svg" alt="Alternate Text" />
        </div>
        <div class="text-area">
            <h1>Download Our App for Any Devices:</h1>
            <div class="store">
                <div class="info">
                    <p class="body-m-600">Appstore</p>
                    <span>
                        <img src="~/images/pagepicture/star.svg" />
                        <img src="~/images/pagepicture/star.svg" />
                        <img src="~/images/pagepicture/star.svg" />
                        <img src="~/images/pagepicture/star.svg" />
                        <img src="~/images/pagepicture/star.svg" />
                    </span>
                    <h4>Editors choise</h4>
                    <p class="body-m-700">rating 4.7, 187K+ reviews</p>
                </div>
                <img src="~/images/pagepicture/appstore.svg" alt="Alternate Text" />
            </div>
            <div class="store">
                <div class="info">
                    <p class="body-m-600">Googleplay</p>
                    <span>
                        <img src="~/images/pagepicture/star.svg" />
                        <img src="~/images/pagepicture/star.svg" />
                        <img src="~/images/pagepicture/star.svg" />
                        <img src="~/images/pagepicture/star.svg" />
                        <img src="~/images/pagepicture/star.svg" />
                    </span>
                    <h4>App of the day</h4>
                    <p class="body-m-700">rating 4.8, 30K+ reviews</p>
                </div>
                <img src="~/images/pagepicture/googleplay.svg" alt="Alternate Text" />
            </div>
        </div>
    </div>
</section>
