@model SingleCourseViewModel
<div class="container">
    <div class="scContent">
        <partial name="~/Views/Partials/Sections/_scCourseContent.cshtml" />
        <partial name="~/Views/Partials/Sections/_scCourseInfoCard.cshtml" />
    </div>
</div>