<section class="sliderBW">
    <div class="backgroundBlack"></div>
    <div class="slider-Button"><img src="images/blackwhite/Frame 2110.svg" alt=""></div>
    <div class="text-div">
        <h1>Switch between Light & Dark Mode</h1>
    </div>
    <div class="imageBW-container">
        <img src="images/blackwhite/cheatFrame.svg" alt="">
    </div>
</section>