<section class="subscribe-news">
    @* ska inte vara en container *@
    <div class="container">
        <div class="upper">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="~/images/icon/arrows.svg" />
        </div>
        <div class="middle">
            <h5>Sign up for Newsletters</h5>
            
                <div class="check-box-area">
                    <div class="check-box">
                    <input type="checkbox" id="scales" name="scales" />
                    <label for="scales">Daily Newsletter</label>
                    </div>
                <div class="check-box">
                    <input type="checkbox" id="scales" name="scales"  />
                    <label for="scales">Advertising Updates</label>
                </div>
                <div class="check-box">
                    <input type="checkbox" id="scales" name="scales"  />
                    <label for="scales">Week in Review</label>
                </div>
                <div class="check-box">
                    <input type="checkbox" id="scales" name="scales"  />
                    <label for="scales">Event Updates</label>
                </div>
                <div class="check-box">
                    <input type="checkbox" id="scales" name="scales"  />
                    <label for="scales">Startups Weekly</label>
                </div>
                <div class="check-box">
                    <input type="checkbox" id="scales" name="scales"  />
                    <label for="scales">Podcasts</label>
                </div>
                </div>
            
        </div>
        <div class="bottom">
            <input type="text"/>
            <a class="btn-theme">Subscribe*</a>
            <p>* Yes, I agree to the <a>terms</a> and <a>privacy policy.</a> </p>
        </div>
    </div>

</section>
