@model SubscribeViewModel

<section class="subscribe-news">
    @* ska inte vara en container *@

    <div class="container">
        <div class="upper">
            <h1 class="no-m-p">Don't Want to Miss Anything?</h1><img src="~/images/icon/arrows.svg" />
        </div>
        <form method="post" asp-action="Register" asp-controller="Subscribe">
            <div class="middle">
                <h5 class="newsletter box1">Sign up for Newsletters</h5>
                
                    <div class="check-box box2">
                        <input asp-for="DailyNewsLetter" />
                        <label asp-for="DailyNewsLetter"></label>
                    </div>
                    <div class="check-box box3">
                        <input asp-for="AdvertisingUpdates" />
                        <label asp-for="AdvertisingUpdates"></label>
                    </div>
                    <div class="check-box box4">
                        <input asp-for="WeekInReview" />
                        <label asp-for="WeekInReview"></label>
                    </div>
                    <div class="check-box box5">
                        <input asp-for="EventUpdates" />
                        <label asp-for="EventUpdates"></label>
                    </div>
                    <div class="check-box box6">
                        <input asp-for="StartUpWeekly" />
                        <label asp-for="StartUpWeekly"></label>
                    </div>
                    <div class="check-box box7">
                        <input asp-for="PodCasts" />
                        <label asp-for="PodCasts"></label>
                    </div>
                
            </div>
            <div class="bottom">
                @* // Här skall det komma in en icon fa-envelope *@
                <input class="input-email" asp-for="Email" />
                <button class="btn-theme" type="submit">Subscribe*</button>
                <p>* Yes, I agree to the <a>terms</a> and <a>privacy policy.</a> </p>
            </div>
        </form>
    </div>
</section>
