<section class="tools-menu">
    <div class="container">
        <h1>What Do You Get with Our Tool?</h1>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        <div class="selections">
            <div class="selections-option">
                <img src="~/images/icon/comments.svg" alt="Alternate Text" />
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="selections-option">
                <img src="~/images/icon/screen.svg" alt="Alternate Text" />
                <h5>Tasks Analytics</h5>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.      </p>
            </div>
            <div class="selections-option">
                <img src="~/images/icon/people.svg" alt="Alternate Text" />
                <h5>Multiple Assignees</h5>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.            </p>
            </div>
            <div class="selections-option">
                <img  src="~/images/icon/bell.svg" alt="Alternate Text" />
                <h5>Notifications</h5>
                <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </div>
            <div class="selections-option">
                <img  src="~/images/icon/checkboxes.svg" alt="Alternate Text" />
                <h5>Sections & Subtasks</h5>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </div>
            <div class="selections-option">
                <img src="~/images/icon/sheild.svg" alt="Alternate Text" />
                <h5>Data Security</h5>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </div>

        </div>
    </div>
</section>
