<div class="p-info">
    <div class="p-info-img">
        <img class="p-info-image" src="~/images/profileImage/IMG-20240112-WA0005.jpeg" alt="">
    </div>
    <h4 class="no-m-p">John Doe</h4>
    <p class="no-m-p">john.doe@domain.com</p>
    <div class="acc-btn">
        <a asp-action="AccountDetails" asp-controller="Account" class="btn-theme"><i class="fa-regular fa-gear"></i>Account Details</a>
        <a asp-action="Security" asp-controller="Account" class="btn-secundary"><i class="fa-regular fa-lock"></i>Security</a>
        <a asp-action="Courses" asp-controller="Course" class="btn-secundary"><i class="fa-regular fa-bookmark"></i>Saved Courses</a>
        <a asp-action="SignOut" asp-controller="Auth" class="btn-secundary"><i class="fa-duotone fa-arrow-right-from-bracket"></i>Sign Out</a>
       
    </div>
</div>