@{
    ViewData["Title"] = "Courses";
}

<section class="course">
    <div class="container">
    <h1>Courses</h1>
    <div class="course-expose-area">
    <partial name="~/views/partials/sections/_courseCard.cshtml" />
    <partial name="~/views/partials/sections/_courseCard.cshtml" />
    <partial name="~/views/partials/sections/_courseCard.cshtml" />
    <partial name="~/views/partials/sections/_courseCard.cshtml" />
    <partial name="~/views/partials/sections/_courseCard.cshtml" />
    <partial name="~/views/partials/sections/_courseCard.cshtml" />
    </div>
    </div>
</section>