@model SingleCourseViewModel
    <partial name="~/Views/Partials/Sections/_scHeader.cshtml" />
    <div class="container">
        <partial name="~/Views/Partials/Sections/_scCourse.cshtml" />
        <partial name="~/Views/Partials/Sections/_scCourseTeacherInfo.cshtml" />
    </div>
