input {
    border: 1px solid var(--color-gray-400);
    padding: 13px 16px;
    border-radius: 8px;
  }

  label {
    color: var(--color-gray-900);
    @include font-semibold;
  }

  .info-input {
    display: flex;
    flex-direction: column;
  }

.input-seach-group {
    position: relative;  
}

.input-search-group input[type=text]::placeholder {
    color: var(--color-gray-900);
}



.input-seach-group i {
    position: absolute;
    right: 10px;
    top: 14px;
    color: var(--color-gray-900);
}

.input-seach-group template {
    color: var(--color-gray-900);
}

