h1 {
    @include font-h1;
}
h2 {
    @include font-h2;
    margin: 0;
    padding: 0;
}
h3 {
    @include font-h3;
}
h4 {
    @include font-h4;
}
h5 {
    @include font-h5;
}
h6 {
    @include font-h6;
}

.body-m-700 {
    @include body-m-700;
}
.body-m-600 {
    @include body-m-600;
}
.body-l-700 {
    @include body-l-700;
}

.body-l-600 {
    @include body-l-600;
}

.body-s-700 {
    @include body-s-700;
}

.no-m-p {
    margin: 0;
    padding: 0;
}