.count {
  .container {
    display: grid;
    grid-template-areas: "info" "account";

    @include md {
        display: flex;
        align-items: start;
      }
      
      .account {
        grid-area: account;
        width: 100%;
        @include md {
          border-left: 1px solid var(--color-gray-400);
          padding-left: 20px;
        }
      .basic-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "firstname" "lastname" "email" "phone" "bio";
        @include md {
          grid-template-columns: repeat(2, 1fr);
          grid-template-areas: "firstname lastname" "email phone" "bio bio";
        }
        gap: 24px;

        .firstname {
          grid-area: firstname;
        }

        .lastname {
          grid-area: lastname;
        }

        .email {
          grid-area: email;
        }

        .phone {
          grid-area: phone;
        }

        .bio {
          grid-area: bio;
        }
      }


    }

    .address-info {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "address1" "address2" "postalcode" "city";
      @include md {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "address1 address1" "address2 address2" "postalcode city";
      }
      gap: 24px;
    }

    .address1 {
      grid-area: address1;
    }

    .address2 {
      grid-area: address2;
    }
  }
}
