.content {
    .container {
        display: grid;

        .content-info {
            margin: 0 auto;

            .content-info-box {
                display: flex;
                align-items: center;
                gap: 12px;

                p {
                    padding: 6px;
                    margin: 0;
                }
            }

            a {
                display: flex;
                margin: 40px 0px;
            }
        }

        @include md {
            grid-template-columns: auto;

            .content-info {
                margin: 0 auto;
                padding: 0px 26px;
            }
        }

        @include lg {
            grid-template-columns: 60% 40%;

            .content-info {
                margin: 20px 0 0 50px;
                // padding: 0 ;
            }
        }

        @include xl {
            grid-template-columns: 60% 40%;

            .content-info {
                margin: 30px 0 0 50px;
                // padding: 0 ;
            }
        }

        img {
            width: 100%;
        }
    }
}
