.mobile {
    background-color: var(--color-gray-100);

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "mob-image" "mob-text";

        @include md {
            display: flex;
            align-items: center;
            
        }
        .mobile-image {
            max-width: 100%;
            grid-template-areas: mob-image;
            margin: 56px 0;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .text-area {
            display: grid;
            grid-template-areas: mob-text;
            margin: 0 auto 20px auto;
            gap: 20px;

            .store {
                display: flex;
                align-items: flex-end;
                gap: 20px;

                @include md {
                    flex-direction: column;
                    align-items: flex-start;
                }

                @include lg {
                    flex-direction: row;
                    align-items: flex-end;
                }

                p {
                    padding: 0px;
                    margin: 0;
                }
            }

            a {
                margin: 40px 0px;
            }
        }
    }
}
