.mobile {
    background-color: var(--color-gray-100);
    .container{
    padding: 56px 110px;
        .mobile-image {
            //margin: 56px 0px;
        }
        background-color: var(--color-gray-200);
        display: grid;
        grid-template-columns: 1fr 1fr;
        .text-area {
            margin: auto;
            //margin: 56px 0px;
            width: 70%;
            margin-top: auto;
            margin-bottom: auto;
            h1 {
                margin-top: 0;
            }
            .store{
                display: flex;
                justify-content: space-between;
                align-items: end;
                margin: 2em 0em;
                padding: 0;
                .info{
                    .store-info{
                        @include body-m-600;
                    }
                    h4 {
                        margin: 0;
                    }

                }
            }
        }
    }
}