        .teacher-box {
            display: grid;
            @include md {
                grid-template-columns: 40% 60%;
            }
            gap: 20px; 
            align-items: center;
            background-color: var(--color-black);
            @include xl {
                max-height: 568px;
            }
            .test{
                width: 100%;
                height: 100%;
                overflow: hidden;
                .teacher-img {
                    object-fit: cover;
                    width:100%;
                    height:100%;
                }
            }

            .teacher-info {
                flex-grow: 1; 
                padding: 20px; 
                color: white;
                height: 100%;

                .teacher-info-text {
                    display: flex;
                    flex-direction: column;
                    gap: 10px; 

                    .teacher-info-text-person {
                        h5 {
                            color: var(--color-gray-600);
                            @include font-standard;
                        }

                        h1 {
                            color: var(--color-white);
                        }
                    }

                    p {
                        margin: 0; 
                        padding: 0 24px 0 0;
                    }
                }

                .courseTeacherBtn {
                    display: flex;
                    gap: 24px;
                    margin: 40px 0 0 0;
                    padding: 0 24px 0 0;
                }
            }
        }
