.showcase {
    .container {
        display: flex;
        flex-direction: column-reverse;
        //position: relative;
        .content {
            text-align: center;
        }
        .get-started {
            display: flex;

        }
        .brands{
            display: none;
        }
        .showcase-image{
            //width: 100%;
            margin-right: -15px;
            //display: block;
        }
        @include md {
            display: flex;
            flex-direction: row;
        }
        @include xl{
        display: flex;
        .content {
            font-size: 1rem;
            margin-right: 50px;
            padding-bottom: 50px;
            h1 {
                @include font-d4;
            }
            p {
                font-size: 1.125em;
            }
            .get-started {
            }
            .brands {
                display: none;
                h6{}
                @include lg {
                    display: flex;
                    flex-direction: column;
                    .brands-logos {
                        gap: 30px;
                        display: flex;
                        .brands-logo {
                            width: 120px;
                        }
                    }
                }   
            }
        }
        // kom på något kul med bilden i mobil läget
        .showcase-image {
            width: 60%;
            position: relative;
            overflow: hidden;
            right: 0;
        }
        }
    }
}
