.p-info {
      grid-area: info;
      display: grid;
      justify-items: center;
      align-items: center;
      align-content: center;
      gap: 10px;
      margin: 20px;
      @include md {
        display: grid;
        min-width: 250px;
        padding: 20px;
      }

      .p-info-img {
        position: relative;     

        .p-info-image {
            width: 120px;
            border-radius: 50%;
            height: 120px;
            object-fit: cover;
        }
        form{
            position: relative;
            label{
                bottom: 10px;
                right: 0;
                position:absolute;
                i{
                    display: flex;
                    align-items: center;
                    justify-items: center;
                }
            }
        }
      }

      .acc-btn {
        display: grid;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 32px 0;
        gap: 16px;
        @include md {
            display: grid;
        }
      }
    }