@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-theme: #6365f1;
  --color-theme-0: #6365f1e6;
  --color-gray-100: #f3f6ff;
  --color-gray-200: #eff2fc;
  --color-gray-300: #e2e5f1;
  --color-gray-400: #d4d7e5;
  --color-gray-500: #b4b7c9;
  --color-gray-600: #9397ad;
  --color-gray-700: #565973;
  --color-gray-800: #33354d;
  --color-gray-900: #0b0f19;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-gray-900);
  background-color: var(--color-white);
  margin: 0;
}

a {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-theme);
  font-size: 1em;
  display: inline-block;
}
a:active, a:visited, a:focus, a:hover {
  color: var(--color-white);
}
a:hover {
  text-decoration: none;
}

button {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.nav-link {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  color: var(--color-gray-900) !important;
  font-size: 1em;
  display: inline-block;
  text-decoration: none;
}
.nav-link:active, .nav-link.active, .nav-link:hover {
  color: var(--color-theme) !important;
  text-decoration: underline;
}

h1 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 2.5em !important;
}

h2 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 2em !important;
}

h3 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 1.75em !important;
}

h4 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 1.5em !important;
}

h5 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 1.25em !important;
}

h6 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 1em !important;
}

.body-m-700 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: var(--color-gray-700);
}

.body-m-600 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: var(--color-gray-600);
}

.body-l-700 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-size: 1.125em;
  color: var(--color-gray-700);
}

.body-l-600 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-size: 1.125em;
  color: var(--color-gray-600);
}

.body-s-700 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--color-gray-700);
}

.no-m-p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 567px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.btn-theme {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.12s ease-in-out;
  background-color: var(--color-theme);
  color: var(--color-white);
  border: 1px solid var(--color-theme);
}
.btn-theme i {
  margin-right: 10px;
}
.btn-theme:hover {
  background-color: var(--color-white);
}
.btn-theme:hover {
  background-color: var(--color-white);
  border-color: var(--color-theme);
  color: var(--color-theme) !important;
}

.btn-secundary {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.12s ease-in-out;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-200);
  color: var(--color-gray-900) !important;
}
.btn-secundary i {
  margin-right: 10px;
}
.btn-secundary:hover {
  background-color: var(--color-white);
}
.btn-secundary:hover {
  border: 1px solid var(--color-white);
  border: 1px solid var(--color-gray-900);
}

.btn-menu {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.12s ease-in-out;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-200);
  color: var(--color-gray-900);
  font-size: 22px;
  padding: 10px 20px;
}
.btn-menu i {
  margin-right: 10px;
}
.btn-menu:hover {
  background-color: var(--color-white);
}
.btn-menu i {
  margin-right: 0;
}
.btn-menu:hover {
  border: 1px solid var(--color-white);
  border: 1px solid var(--color-gray-900);
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-700);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-theme);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-theme);
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.empty {
  height: 300px;
  background-color: var(--color-white);
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
}
header .container {
  display: grid;
  align-items: center;
  gap: 40px;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo hamburger";
}
@media (min-width: 768px) {
  header .container {
    grid-template-columns: 1fr auto auto;
    grid-template-areas: "logo switch hamburger";
  }
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo nav switch account";
  }
}
header .container .logo {
  grid-area: logo;
}
header .container nav {
  grid-area: nav;
  position: relative;
  display: none;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding-top: 100px;
}
@media (min-width: 992px) {
  header .container nav {
    display: flex;
    position: static;
    transform: none;
    gap: 20px;
    padding-top: 0;
  }
}
header .container nav.active {
  display: block;
  background-color: var(--color-gray-900);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
header .container nav a {
  display: block;
  color: var(--color-white) !important;
  text-align: center;
  padding: 20px;
}
@media (min-width: 1200px) {
  header .container nav a {
    padding: 0;
    color: var(--color-gray-900) !important;
  }
}
header .container .theme-switch {
  grid-area: switch;
  display: none;
}
@media (min-width: 1200px) {
  header .container .theme-switch {
    display: block;
  }
}
header .container .account-buttons {
  grid-area: account;
  display: none;
  gap: 20px;
}
@media (min-width: 992px) {
  header .container .account-buttons {
    display: flex;
  }
}
header .container .btn-menu {
  grid-area: hamburger;
  z-index: 20;
}
@media (min-width: 992px) {
  header .container .btn-menu {
    display: none;
  }
}

.showcase .container {
  display: flex;
}
.showcase .container .content {
  font-size: 1rem;
  margin-right: 50px;
  padding-bottom: 50px;
}
.showcase .container .content h1 {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 3.5em !important;
}
.showcase .container .content p {
  font-size: 1.125em;
}
.showcase .container .content .brands {
  display: none;
}
@media (min-width: 992px) {
  .showcase .container .content .brands {
    display: flex;
    flex-direction: column;
  }
  .showcase .container .content .brands .brands-logos {
    gap: 30px;
    display: flex;
  }
  .showcase .container .content .brands .brands-logos .brands-logo {
    width: 120px;
  }
}
.showcase .container .showcase-image {
  width: 60%;
  position: relative;
  right: 0;
}

.tools-menu {
  background-color: var(--color-gray-100);
}
.tools-menu .container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.tools-menu .container .selections {
  display: grid;
  grid-template-columns: auto auto auto;
}
.tools-menu .container .selections .selections-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 40px;
}
.tools-menu .container .selections .selections-option:hover {
  background-color: var(--color-white);
  box-shadow: 0 8px 18px -8px var(--color-gray-400);
}

.content .container {
  display: grid;
  grid-template-columns: 60% 40%;
}
.content .container img {
  width: 100%;
}
.content .container .content-info {
  margin: 100px 50px;
  padding: 16px 26px;
}
.content .container .content-info .content-info-box {
  display: flex;
  align-items: center;
  gap: 12px;
}
.content .container .content-info .content-info-box p {
  padding: 6px;
  margin: 0;
}
.content .container .content-info a {
  margin: 40px 0px;
}

.mobile {
  background-color: var(--color-gray-100);
}
.mobile .container {
  padding: 56px 110px;
  background-color: var(--color-gray-200);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mobile .container .text-area {
  margin: auto;
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
}
.mobile .container .text-area h1 {
  margin-top: 0;
}
.mobile .container .text-area .store {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 2em 0em;
  padding: 0;
}
.mobile .container .text-area .store .info .store-info {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: var(--color-gray-600);
}
.mobile .container .text-area .store .info h4 {
  margin: 0;
}

.worktools .container {
  margin: 100px auto;
  display: grid;
  justify-items: center;
}
.worktools .container .tool-text-content {
  width: 70%;
  text-align: center;
  margin: 24px 0px 56px 0px;
}
.worktools .container .icon-collector {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}
.worktools .container .icon-collector .icon-container {
  display: grid;
  padding: 24px;
  gap: 24px;
}
.worktools .container .icon-collector .icon-container:hover {
  box-shadow: 0 8px 18px -8px var(--color-gray-400);
}

.subscribe-news .container .upper {
  display: flex;
  flex-direction: row;
}
.subscribe-news .container .middle {
  display: flex;
  align-items: center;
}
.subscribe-news .container .middle .check-box-area {
  display: grid;
  grid-template-columns: auto auto auto;
}
.subscribe-news .container .middle .check-box-area .check-box {
  display: flex;
}
