@{
    ViewData["Title"] = "Home";
}

<partial name="~/views/partials/sections/_showcase.cshtml" />
<partial name="~/views/partials/sections/_tools-notifications.cshtml" />
<partial name="~/views/partials/sections/_content.cshtml" />
<div class="placeholder">p</div>