@model AccountDetailViewModel


<section class="count">
    <div class="container">
        <partial name="~/views/Account/_userDetails.cshtml" />
        
        <div class="account account-container">
            <h2 class="no-m-p">Account details</h2>
            <h5>Basic info</h5>
            <form asp-action="UserProfile" asp-controller="Account" method="post">
                <div class="basic-info">
                    <div class="info-input firstname">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName">
                    </div>
                    <div class="info-input lastname">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName">
                    </div>
                    <div class="info-input email">
                        <label asp-for="Email"></label>
                        <input asp-for="Email">
                    </div>
                    <div class="info-input phone">
                        <label asp-for="Phone"></label>
                        <input asp-for="Phone">
                    </div>
                    <div class="info-input bio">
                        <label for="Bio">Bio</label>
                        <textarea type="text" id="Bio" placeholder="Add short bio" rows="5" cols="5"></textarea>
                    </div>
                </div>
            <div class="acc-btn">
                <button class="btn-secundary">Cancel</button>
                <button type="submit" class="btn-theme">Save changes</button>
            </div>
            </form>
            <h5>Address</h5>
            <form method="post" asp-action="SaveAddress" asp-controller="Account">
            <div class="address-info">
                <div class="info-input address1">
                    <label asp-for="Addressline1"></label>
                    <input asp-for="Addressline1">
                </div>
                <div class="info-input address2">
                    <label asp-for="Addressline2"></label>
                    <input asp-for="Addressline2">
                </div>
                <div class="info-input postalcode">
                   <label asp-for="PostalCode"></label>
                   <input asp-for="PostalCode" />
                </div>
                <div class="info-input city">
                    <label asp-for="City"></label>
                    <input asp-for="City">
                </div>
            </div>
            <div class="acc-btn">
                <button class="btn-secundary">Cancel</button>
                <button class="btn-theme" type="submit">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</section>